# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

## Workspace files (Xcode generates them automatically)
*.xcworkspace/
project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

## Compatibility files
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcscmblueprint
*.xccheckout

## Obj-C/Swift specific
*.hmap

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (uncomment if you use CocoaPods)
# Pods/
# Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDEs
.vscode/
.idea/

# End
